/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/*Specific Areas*/
/*Menu Gallery*/
#gallery{
	display: flex;
	flex-flow: column wrap;
	max-width: 1000px;
	margin: auto;
}

.galleryRow{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.galleryPic{
	margin: 1%;
	width: 300px;
}



/*Main Menu*/
#menu{
	display: flex;
	flex-flow: row wrap;
	margin: auto;
}

.menuColumn{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 600px;
	margin: 0 auto;
}

.menuItem{
	display: flex;
	flex-direction: row wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 28px;
	line-height: 1.5;
}


/*Store Info*/
#storeInfo{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: auto;
}

.infoColumn{
	display: flex;
	flex-direction: column;
	width: 500px;
}

#mapPic{
	max-width: 400px;
	margin: 5% auto;
}



/*Store hours*/
#storeHours{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.datesColumn{
	display: flex;
	flex-direction: column;
	width: 30em;
}

.datesRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 24px;
	line-height: .33;
}

.hoursColumn{
	display: flex;
	flex-direction: column;
	width: 600px;
}



/*Website Elements*/
h1, h3{
	color: white;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}

h1{
	font-size: 80px;
}

h2{
	color: black;
	font-family: 'Fredoka One', cursive;
	font-size: 80px;
}

h3{
	font-size: 60px;
}

h4{
	text-align: center;
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
}



/*Main website areas*/
header{
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #a0138e;
	margin: 0;
}

.sectionHeading{
	text-align: center;
	margin-top: 8%;
}

main{
	margin: 2%;
}

section{
	margin: 2%;
}

footer{
	background-color: #a0138e;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	width: 100%;
	margin: 0;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1.66em;
}

body{
	background-color: #FBF9F0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}



/*Media queries*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {	  
    #menu{
	    flex-flow: column wrap;
	}
	
	#storeInfo{
		flex-flow: column wrap;
	}
	  
	.hoursColumn {
	    width: 60%;
	}
	  
	#mapPic {
	    height: 300px;
		margin: 5% auto;
	}
	  
	h1{
		font-size: 6rem;
		font-family: 'Fredoka One', cursive;
	}

	h2{
	    font-size: 4rem;
		font-family: 'Fredoka One', cursive;
	}

	h3{
	    font-size: 5rem;
		font-family: 'Fredoka One', cursive;
    }

	h4{
	    font-size: 4rem;
		font-family: 'Fredoka One', cursive;
	}

	.menuItem{
	  font-size: 3rem;
	}
	
	.datesColumn{
	  font-size: 4rem;
	}

}


