/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*Website Sub-main Areas*/
/*Gallery Area*/
.gallery{
	display: flex;
	max-width: 60em;
}

.pictureDiv{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.galleryPic{
	width: 18em;
	margin: 1%;
}



/*Menu Area*/
.menu{
	display: flex;
	flex-flow: row wrap;
	max-width: 60em;
	margin: auto;
}

.menuItem{
	display: flex;
	flex-direction: row wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 28px;
	line-height: 1.5;
	margin: 5%;
}

/*Store Info and Hours Area*/
.info{
	display: flex;
	flex-flow: row wrap;
	max-width: 60em;
	margin: auto;
}

.infoItem{
	display: flex;
	flex-direction: row wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 28px;
	line-height: 1.5;
}

.hours{
	display: flex;
	flex-flow: row wrap;
	max-width: 40em;
	margin: auto;
}

.datesRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	line-height: .33;
	width: 400px;
}

#mapPic{
	width: 30em;
	margin: 5% auto;
}

/*Main Website Areas*/
header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #a0138e;
	padding: 2em;
	height: 14em;
	width: 100%;
}

main{
	display: flex;
	flex-flow: column wrap;
	max-width: 1000px;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #a0138e;
	width: 100%;
	margin-top: 3%;
	font-size: 24px;
}

/*Website Structure and Elements*/
h1, h3{
	color: white;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}

h2, h4{
	font-family: 'Fredoka One', cursive;
	text-align: center;
}

h1{
	font-size: 4em;
}

h2{
	font-size: 3.2em;
	margin-top: 5%;
}

h3{
	font-size: 2.4em;
}

h4{
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 0%;
	max-width: 10em;
}

.column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 30em;
	margin: 0% auto;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}


/*Media Queries*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
	h1{
	  font-size: 5rem;
	}

	h2{
	  font-size: 4rem;
	}

	h3{
	  font-size: 3rem;
	}

	h4{
	  font-size: 3em;
	}
	
	p{
		font-size: 2.4rem;
	}
}